$overlay-background-color: #000000
$image-border-color: #ffffff
$outer-container-background-color: #ffffff
$data-text-color: #cccccc
$data-link-color: #44aaee
$data-image-count-text-color: #999

$overlay-opacity: .8
$image-border-radius: 4px
$navigation-transition-duration: .6s

$loader-image: '../../images/loading.svg'
$previous-image: '../../images/prev.png'
$next-image: '../../images/next.png'
$close-image: '../../images/close.svg'
