.lb-loader
  height: 25%
  left: 0
  line-height: 0
  position: absolute
  text-align: center
  top: 43%
  width: 100%

.lb-cancel
  background: url($loader-image) no-repeat
  display: block
  height: 32px
  margin: 0 auto
  width: 32px
