.lb
  font-family: 'Roboto', sans-serif
  font-weight: normal
  left: 0
  line-height: 0
  position: absolute
  text-align: center
  width: 100%
  z-index: 10000

  .lb-image
    border: 4px solid $image-border-color
    border-radius: 3px
    display: block
    height: auto
    max-height: none
    max-width: inherit

  a
    img
      border: 0
